<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="log.dir" value="${mrtl.log.dir:-./logs}" />
    <property name="log.file" value="${mrtl.log.file:-kiklos-proxy.log}" />
    <property name="counter.file" value="${mrtl.log.file:-counter.log}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <charset>UTF-8</charset>
            <!-- <pattern>%yellow(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %gray(%logger{10}) - %msg%n</pattern> -->
        </encoder>
    </appender>

    <appender name="KIKFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${counter.file}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/${counter.file}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
          <pattern>%msg%n</pattern>
        </encoder>
<!--
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
-->
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${log.file}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/${log.file}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${log.file}.errors</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/${log.file}.%d{yyyy-MM-dd}.errors</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>%date [%level] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="KIKFILE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR_FILE" />
    </root>

    <logger name="kiklos.proxy.core.HttpRequestHandler" additivity="false" level="INFO">
        <appender-ref ref="KIKFILE"/>
    </logger>

</configuration>
